
/* styles.css */

/* Estilos para la lista de libros */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

img {
  width: 150px; /* Ajusta este valor según tus preferencias */
  height: 200px; /* Ajusta este valor según tus preferencias */
  object-fit: cover; /* Para mantener la proporción de aspecto */
}

/* Estilos para el formulario de agregar libro */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}